@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}


.Table {
  border: 1px solid rgba(88, 88, 90, 0.1);
  text-align: left;
  border-radius: 15px;
  padding: 10px 0;
  -webkit-box-shadow: 0px 6px 19px -8px rgba(88, 88, 90, 1);
  -moz-box-shadow: 0px 6px 19px -8px rgba(88, 88, 90, 1);
  box-shadow: 0px 6px 19px -8px rgba(88, 88, 90, 1);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  color: rgba(88, 88, 90, 0.5);
  font-family: 'Lato', sans-serif;
  font-size: .8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

td {
  border: 1px solid rgba(88, 88, 90, 0.085);
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: .8rem;
  font-weight: 400;
  text-align: left;
}

td:first-child {
  border-left: 0;
}

td:last-child {
  border-right: 0;
}

th,
td {
  padding: 3px 10px;
}

input[type='checkbox'].columnBox {
  -webkit-appearance: none;
  width: 25px;
  height: 20px;
  background: white;
  border-radius: 3px;
  border: 1px solid rgb(176, 168, 168);
  outline: none;
}


.orange {
  color: #f4a624;
  text-align: center;
  margin: 0 auto;
}

.blue {
  color: #0043ff;
}

.fas {
  font-size: 1.25rem;
}

.fa-arrow-circle-right {
  color: #51E3C1;
  font-size: 1.5rem;
}

.fa-exclamation-circle {
  color: #f4a624;
  font-size: 1.5rem;
}

.fa-check-circle {
  color: #0043ff;
  font-size: 1.5rem;
}

.merchant,
.teammember {
  font-weight: 700;
  color: white;
  background: orange;
  border-radius: 50%;
  height: 20px;
  padding: 13px;
  width: 20px;
  text-align: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.teammember {
  background-color: #28147b;
}

.pagination-container {
  margin: 30px auto;
}

.pagination-container .page-link {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  outline: none;
}

.pagination>.page-item {
  padding: 0;
}

.pagination-container .page-link:hover {
  color: #0043ff;
}